In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\dbnewman18\Instacart_Basket_Analysis_31_03-2022'

In [4]:
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)

In [5]:
df_ords=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked_twice.csv'), index_col = False)

In [6]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.shape

(3421083, 7)

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

## Task 4.6 Notebook 1

In [10]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))